<html>
  <head>
    <meta charset="UTF-8" >
    <title>Vue.js Practice</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <style>
      .disabled {
        color: LightGrey;
      }
    </style>
  

  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
      <p>{{ team }}</p>
      <button v-on:click="reverseMessage2">Reverse Message2</button>
    </div>
    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>

    </div>

    <div id="app-7">
      <p>{{ name }}</p>
      <button v-on:click="clickMessage">Click Me!</button>
    </div>

  <!-- <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div> -->

  <hr>

  <div id="app">

    <div>
      <p>{{ message }}</p>
      <p>{{ name }}</p>
    </div>
    <!-- <button  v-on:click="toggleInfo">Toggle Info</button>
    <p v-if="showInfo">Extra Information</p> -->

    <input type= "checkbox" v-on:click="toggleInfo">Toggle Info</input>
    <!-- <p v-if="showInfo">Extra Information</p> -->
    <p v-bind:class="{ disabled: showInfo }">Extra Information</p>

    <hr>
    <ol>
      <li v-for="fruit in fruits">
        {{ fruit }}
      </li>
    </ol>
   
    <input type="text" v-model="newFruit">
    <button v-on:click="addFruit">Add a new fruit</button>
  
  </div>


  

  

    <script src="index.js"></script>
  </body>
</html>